if theme.disqus
    #disqus_thread
    script.
        var disqus_shortname = '#{theme.disqus}';
        var disqus_identifier = '#{page.path}';
        var disqus_title = '#{page.title}';
        var disqus_url = '#{config.url}/#{page.path}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    script(id='dsq-count-scr' src='//#{theme.disqus}.disqus.com/count.js' async)

if theme.gitment
    #gc_container
    script(src='/upload/gitment.browser.js')
    script.
        (new Gitment({
            id: 'aid' + (new Date('#{page.date}')).getTime()/1000,
            title: '#{page.title}' + '的评论',
            link: decodeURI(location.href),
            // --------------------------⬇Required------------------------
            repo: 'ifyour.github.io',
            owner: 'ifyour',
            oauth: {
                client_id: '576e98d38d4bd19f8a02',
                client_secret: 'ba3616bf2f20c5da947a1fd5c7ef0edff4ffab99',
            }
        })).render('gc_container');
